<a [routerLink]="path()" class="sectioncard" [attr.aria-label]="title() + '. ' + description()">
  <div class="cover-container">
    <img class="background-image" [src]="image()" [alt]="`Image pour la section ` + title()" />
    <div class="gradient-overlay"></div>
  </div>

  <div class="card-title-container">
    <h3 class="card-title animatedTitle text-base-100 justify-center">{{ title() }}</h3>
  </div>

  <img aria-hidden="true" class="appearing-picture" [src]="appearingPicture()" alt="" />
</a>
