* {
    --card-height: 350px;
    --border-radius: .5rem;
    --duration: 500ms;
}

.sectioncard {
    display: block;
    height: var(--card-height);
    width: 100%;
    border-radius: var(--border-radius);
    position: relative;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-duration: var(--duration);
    border-radius: var(--border-radius);
    transform-origin: bottom center;
}

.cover-container {
    width: 100%;
    height: 100%;
    perspective: 300px;
}

.sectioncard:hover .background-image, .sectioncard:focus-visible .background-image {
    transform: perspective(1200px) translateY(-25px) rotateX(8deg) translateZ(0);
    transform-origin: bottom center;
    box-shadow: 2px 15px 32px -8px rgba(0, 0, 0, 0.75);
}

.gradient-overlay {
    border-radius: var(--border-radius);
    transition-duration: var(--duration);
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-image: linear-gradient(to top,
            transparent 46%,
            rgba(12, 13, 19, 0.5) 68%,
            rgba(12, 13, 19) 97%), linear-gradient(to bottom,
            transparent 46%,
            rgba(12, 13, 19, 0.5) 68%,
            rgba(12, 13, 19) 97%);
}

.background-image {
    filter: brightness(.65);
}

.sectioncard:hover .background-image, .sectioncard:focus-visible .background-image {
    filter: brightness(1);
}

.sectioncard:hover .gradient-overlay, .sectioncard:focus-visible .gradient-overlay {
    opacity: 1;
    transform: perspective(1200px) translateY(-25px) rotateX(8deg) translateZ(0);
    transform-origin: bottom center;
}

.card-title-container {
    position: absolute;
    width: 100%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-weight: 700;
    border-radius: var(--border-radius);
}

.card-title {
    transition-duration: var(--duration);
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.sectioncard:hover .card-title, .sectioncard:focus-visible .card-title {
    font-size: 3rem;
    transform: translate3d(0%, -50px, 100px);
}

.appearing-picture {
    opacity: 0;
    position: absolute;
    top: 40%;
    transition-duration: var(--duration);
}

.sectioncard:hover .appearing-picture, .sectioncard:focus-visible .appearing-picture {
    opacity: 1;
    top: 20%;
    transform: translate3d(0%, -30%, 100px) scale(110%);
}



@media (pointer: coarse),
(prefers-reduced-motion: reduce) {
    .card-title-container {
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        height: fit-content;
    }

    .card-title-container::before {
        display: none;
    }

    .card-title {
        margin: 0;
    }

    .appearing-picture {
        display: none;
    }
}

@media (min-width: 450px) {
    .sectioncard {
        width: calc(var(--card-height)/ 1.2);
    }
}