* {

    --card-height: 350px;
    --border-radius: .5rem;
    --duration: 500ms;
}

.sectioncard {
    display: block;
    height: var(--card-height);
    width: 100%;
    border-radius: var(--border-radius);
    position: relative;
}



.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-duration: var(--duration);
    border-radius: var(--border-radius);

    transform-origin: bottom center;

}

.cover-container {
    width: 100%;
    height: 100%;
    perspective: 300px;
}

.sectioncard:hover .background-image {
    transform: perspective(1200px) translateY(-25px) rotateX(8deg) translateZ(0);
    transform-origin: bottom center;
    box-shadow: 2px 15px 32px -8px rgba(0, 0, 0, 0.75);
}

.gradient-overlay {
    border-radius: var(--border-radius);
    transition-duration: var(--duration);
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-image: linear-gradient(to top,
            transparent 46%,
            rgba(12, 13, 19, 0.5) 68%,
            rgba(12, 13, 19) 97%), linear-gradient(to bottom,
            transparent 46%,
            rgba(12, 13, 19, 0.5) 68%,
            rgba(12, 13, 19) 97%);
}

.sectioncard:hover .gradient-overlay {
    opacity: 1;

    transform: perspective(1200px) translateY(-25px) rotateX(8deg) translateZ(0);
    transform-origin: bottom center;
}

.card-title-container {
    position: absolute;
    width: 100%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-weight: 700;
    border-radius: var(--border-radius);
}



.card-title-container::before {
    content: '';
    transition-duration: var(--duration);
    border-radius: var(--border-radius);

    opacity: 1;
    display: block;
    width: 100%;
    height: 700%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    background-image: linear-gradient(to bottom,
            transparent 36%,
            transparent 56%,

            rgba(12, 13, 19, 0.5) 68%,
            rgba(12, 13, 19) 97%);

}



.sectioncard:hover .card-title-container::before {
    transform: perspective(1200px) translateY(-25px) rotateX(8deg) translateZ(0);
    opacity: 0;
    transform-origin: bottom center;
}

.card-title {
    transition-duration: var(--duration);
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.sectioncard:hover .card-title {
    font-size: 3rem;
    transform: translate3d(0%, -50px, 100px);
}

.appearing-picture {
    opacity: 0;
    position: absolute;
    top: 50%;
    transition-duration: var(--duration);

}

.sectioncard:hover .appearing-picture {
    opacity: 1;
    top: 20%;

    transform: translate3d(0%, -30%, 100px) scale(110%);
}


@media (pointer: coarse) {
    .card-title-container {
        top: 50%;
        bottom: 0;
        height: fit-content;
    }

    .card-title-container::before {
        display: none;
    }

    .background-image {
        filter: brightness(.5);
    }

    .card-title {
        margin: 0;
    }
}

@media (min-width: 400px) {
    .sectioncard {
        width: calc(var(--card-height)/ 1.2);

    }

}