<a [routerLink]="'/livres/' + slug()" class=" card w-full lg:max-w-[300px] border-primary border-2 shadow-xl hover:shadow-sm transition duration-300 ease-in-out hover:scale-102 group">
  <figure class="">
    <img  class="object-fill aspect-[3/4] " [src]="book().cover" [alt]="'Couverture de ' + book().title" />
  </figure>
  <div class="card-body p-4 h-42">
    <h2 class="card-title duration-300">
      {{ book().title }}
    </h2>
    <h3>{{ book().authorName }}</h3>
    <div class="card-actions justify-start wrap ">
      @for(tag of tags(); track tag){
      <small class="badge badge-outline">
        {{ tag }}
      </small>
      }
    </div>
  </div>
</a>
