@if ($book() !== undefined) {
  <app-hero-section [title]="$book()!.title" [bgUrl]="$book()!.cover" />

  <section class="flex flex-col md:flex-row gap-12 md:-gap-4 w-full h-full justify-center my-40">
    <!-- Cover Image-->
    <div class="w-full md:w-1/2">
      <div class="wrapper">
        <div class="w-60 h-100 md:w-80 md:h-120 relative mx-auto book-container">
          <span class="shadow"></span>
          <div class="back"></div>
          <div class="cover-end"></div>
          <div class="page last">
            <p class="excerpt">{{ $book()!.catchPhrase }}</p>
          </div>
          <div class="w-80 h-120 book-cover overflow-hidden">
            <img
              class="object-cover"
              fill
              [ngSrc]="$book()!.cover"
              [alt]="'Image de couverture de ' + $book()!.title"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- Infos -->
    <div class="w-full md:w-1/2 px-2 md:pr-38">
      <div class="flex flex-col justify-center">
        <h3 class="third-title">{{ $book()!.title }}</h3>
        <p class="text-lg">👤 {{ $book()!.authorName }}</p>

        <div class="flex flex-wrap gap-2 mt-10 mb-6">
          @for (tag of $book()!.tags; track tag) {
            <div class="badge badge-neutral font-bold hover:rotate-8 duration-300">{{ tag }}</div>
          }
        </div>

        <p>{{ $book()!.catchPhrase }}</p>

        <!-- Actions-->
        <div class="flex flex-col justify-center gap-2 my-10">
          <app-link-button
            [btnType]="'btn-primary'"
            data-testid="buy-cta"
            [url]="$book()!.link"
            [text]="'🛒 Acheter ce livre'"
          />
          @if ($book()!.socialLink) {
            <app-link-button
              [btnType]="'btn-soft'"
              data-testid="social-link-cta"
              [url]="$book()!.socialLink!"
              [text]="'🌟 En savoir plus sur ' + $book()!.authorName"
            />
          }
        </div>
      </div>
    </div>
  </section>

  <!-- Reviews -->
  <section data-testid="reviews" class="h-content my-20">
    <h2 class="subtitle mx-auto text-center">Iels en parlent... !</h2>

    @if ($book()!.reviews) {
    } @else {
      <div
        class="p-6 border-neutral border-2 rounded-lg mx-2 md:mx-auto md:w-1/2 my-8 bg-neutral/5 shadow-md"
      >
        <p class="fourth-title text-center">🪹</p>
        <h4 class="fourth-title text-center">Personne n'a encore ajouté son avis lecture ici.</h4>
        <p class="text-center mt-10">
          Bientôt, un moyen d'ajouter directement ses avis lecture ici !
        </p>
        <p class="text-center text-sm">(Bookstagram, Booktok, et plus encore !)</p>
      </div>
    }
  </section>

  <!-- Related books-->
  @if ($relatedBooks()) {
    <section data-testid="related-books" class="h-content my-20">
      <h2 class="subtitle mx-auto text-center">Vous pourriez aimer...</h2>

      <div class="flex h-content gap-4 flex-wrap mx-auto my-8 justify-center px-4">
        @for (book of $relatedBooks(); track book.id) {
          <app-book-card [book]="book" />
        }
      </div>
    </section>
  }

  <div class="mb-20 mx-auto w-full md:w-80 px-2">
    <app-routerlink-button
      [btnType]="'btn-neutral'"
      [url]="'/livres'"
      [text]="'⬅️ Retour au catalogue'"
    />
  </div>
}
