.title {
    font-family: "Amatic SC";
    font-weight: 600;
    font-style: normal;

    text-shadow: #FC0 1px 0 10px;
}

.subtitle {
    font-family: "Amatic SC";
    font-weight: 600;
    font-size: 3rem;
    font-style: normal;
}

