@utility absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@utility responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,
      minmax(min(100%, 18.75rem), 1fr));
}