<div class="relative mt-20">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 35.28 2.17"
    preserveAspectRatio="none"
    class="absolute left-0 bottom-0 w-full"
  >
    <path
      class="wave-layer-1 fill-base-200"
      d="M35.28 1.67c-3.07-.55-9.27.41-16.15 0-6.87-.4-13.74-.58-19.13.1v.4h35.28z"
    />
  </svg>
</div>
<footer class="footer footer-center footer-horizontal bg-base-200 text-neutral p-10">
  <aside>
    <!-- Book icon -->
    <ng-icon name="heroBookmark" class="text-4xl"></ng-icon>

    <p>
      La librairie des auto-édité(e)s
      <br />
      Un projet
      <a class="link font-semibold" role="link" target="_blank" [href]="websiteUrl">
        &#64;ducaféetdesrimes
      </a>
    </p>
    <p>Copyright © {{ currentYear }} - Tous droits réservés</p>
  </aside>

  <nav>
    <div class="grid grid-flow-col gap-2">
      <a
        class="btn btn-square btn-neutral text-xl"
        target="_blank"
        [href]="instaUrl"
        aria-label="Instagram"
      >
        <ng-icon name="faBrandInstagram"></ng-icon>
      </a>
      <a
        class="btn btn-square btn-neutral text-xl"
        target="_blank"
        [href]="substackUrl"
        aria-label="Substack"
      >
        <ng-icon size="18" name="bootstrapSubstack"></ng-icon>
      </a>
      <a
        class="btn btn-square btn-neutral text-xl"
        target="_blank"
        [href]="threadsUrl"
        aria-label="Threads"
      >
        <ng-icon name="faBrandThreads"></ng-icon>
      </a>
    </div>
  </nav>

  <span class="flex flex-row gap-1">
    Réalisé avec ❤️‍🔥, <a role="link" target="_blank" href="https://angular.dev/">Angular</a> et
    <a role="link" target="_blank" href="https://daisyui.com/">DaisyUI</a>.
  </span>

  <small>
    En tant que Partenaire Amazon, je réalise un bénéfice sur les achats remplissant les conditions
    requises.
  </small>
</footer>
