<progress
  appScrollSpy
  aria-label="Progression de la lecture de l'article"
  class="progress w-full h-[4px] top-[64px] z-[1000] sticky block"
  max="100"
></progress>

<header class="relative h-[300px] w-full">
  <div class="breadcrumbs text-sm absolute top-4 left-10 z-40 text-base-200">
    <ul>
      <li>
        <a routerLink="/blog">Blog</a>
      </li>
      <li>
        <a [routerLink]="'/blog/' + blogArticle().slug">
          {{ blogArticle().title }}
        </a>
      </li>
    </ul>
  </div>
  <div
    class="flex flex-col justify-center items-center gap-4 text-center text-base-200 absolute z-60 top-1/2 left-1/2 text-my-white -translate-y-1/2 -translate-x-1/2 z-30 text-center"
  >
    <h1 class="text-2xl font-bold">{{ blogArticle().title }}</h1>
    <span class="text-center text-base-200">
      <span class="flex flex-col md:flex-row justify-center gap-2 items-center text-sm">
        <div class="flex justify-center gap-2 items-center text-sm">
          <div class="avatar">
            <div class="w-6 rounded-full">
              <img alt="Photo de l'auteur ou de l'autrice" [src]="blogArticle().author.authorPic" />
            </div>
          </div>
          {{ blogArticle().author.authorName }}
        </div>
        <span class="hidden md:block">•</span>
        <span>{{ date() }}</span>
      </span>
    </span>
    <div class="badge">{{ blogArticle().category }}</div>
  </div>

  <div
    class="backdrop-blur-md z-20 bg-[rgba(0,0,0,.5)] absolute top-0 left-0 h-full w-screen"
  ></div>
  <img
    class="bg-fixed absolute top-0 object-cover w-full h-full"
    [src]="blogArticle().cover ?? '/images/la_nuit_quand_je_me_dissimule.webp'"
    [alt]="'Photo de couverture de ' + blogArticle().title"
  />
</header>
